{% extends 'admin/base.html.twig' %}
    {% block content %}
        <form action="{{ path ('admin_book_search') }}" method="get">
            <input type="search" name="search">
            <input type="submit" value="rechercher">
        </form>
        <div class=" articles">
        {% for book in books %}
            <div class = "article">
                <h1>{{ book.title|upper }}</h1>
                <p>Auteur : {{ book.author.name|upper }}</p>
                <p>Resumé : {{ book.resume }}</p>
                <p>{{ book.nbPages }}</p>
                <a href="{{ path ('admin_book', {'id': book.id }) }}">Details</a>
                <br/>
                <a href="{{ path ('admin_book_delete', {'id': book.id }) }}">effacer livre</a>
                <br/>
                <a href="{{ path ('admin_book_update', {'id': book.id }) }}">modifier titre livre</a>
            </div>
        {% endfor %}
        </div>
    {% endblock %}


