{% extends 'base.html.twig' %}
{% block content %}
    <div class = "article">
        <h1>{{ authors.name|upper}}</h1>
        <p>{{ authors.firstName|upper }}</p>
        <p>{{ authors.birthDate|date }}</p>
        <p>{{ authors.deathDate|date }}</p>
        <p>{{ authors.biography }}</p>
    </div>
{% endblock %}

