{% extends 'base.html.twig' %}
{% block content %}
<h1>Les livres recherchés</h1>
    <p>les livres affiché contiennent le mot {{ search }} </p>
    <div class="articles">
        {% for book in books %}
            <div class="article">
                <h1>{{ book.title|upper}}</h1>
                <p>Auteur : {{ book.author|upper }}</p>
                <p>Résumé : {{ book.resume }}</p>
                <p>{{ book.nbPages }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}